<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info pt-2">
            <i class="fas fa-align-left"></i>
        </button>
    </div>
    <ul class="navbar-nav mr-auto">
        <%# Language Selection %>
        <ul class="navbar-nav m<%= is_ar ? 'r' : 'l' %>-auto">
            <li class="nav-item">
                <%= link_to t(".logout"), destroy_admin_session_path, method: :delete, class: "nav-link mx-3" %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-language fa-lg text-dark"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-<%= is_ar ? 'left' : 'right' %>" aria-labelledby="navbarDropdown">
                    <%= link_to 'عربي', url_for(locale: :ar), class: "dropdown-item text-center #{'disabled' if @lang == 'ar'}" %>
                    <%= link_to 'English', url_for(locale: :en), class: "dropdown-item text-center #{'disabled' if @lang == 'en'}" %>
                    <%# <div class="dropdown-divider"></div> %>
                </div>
            </li>
        </ul>
    </ul>
</nav>